@import './styles/_reset';
@import './styles/_variables';
@import './components/Header/Header';
@import './pages/AuthPage/AuthPage';
@import './pages/HomePage/HomePage';
@import './pages/StartPage/StartPage';
@import './components/CreaterInfo/CreaterInfo';

.container {
  padding-inline: 15px;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #191536 14.5%, #000 100%);
  font-family: Inter, sans-serif;
  color: $color-primary;
}

.page {
  background: linear-gradient(90deg, #191536 14.5%, #000 100%);
}

.text-accent {
  color: $color-accent;
}