.home-page {
  margin-top: 10px;
}

.actions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home-page__title {
  margin-bottom: 25px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.actions-card {
  width: 225px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid #05c2df;
  background: #191536;
  box-shadow: 2px 0px 13px 2px rgba(5, 194, 223, 0.25);
}

.actions-item__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.actions-item__text {
  color: $color-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.5px;
}

.actions-item__image {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.plus-icon {
  background-image: url('../../assets/icons/plus-icon.svg');
}

.education-icon {
  background-image: url('../../assets/icons/education-icon.svg');
}

.repeat-icon {
  background-image: url('../../assets/icons/repeat-icon.svg');
}
